@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.category__page {
  height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 100vh;
  }
  @include desktop {
  }
}

.category__image {
  margin-bottom: 2rem;
  width: 80vw;
  border-radius: 1.25rem;
  @include tablet {
    margin-bottom: 3rem;
    width: 60vw;
  }
  @include desktop {
  }
}
