@use "./variables" as *;

@mixin button {
  background-color: $button-color;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px black;
  width: 100%;

  &:hover {
    background-color: $hover-state;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
