@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__poster {
        width: 50vw;
        height: 50vw;
    }

    &__synopsis {
        padding: 0 6rem;
    }
}